@import "tailwindcss";

@theme {
  /* Backgrounds */
  --color-bg-hard: #1d2021;
  --color-bg: #282828;
  --color-bg-soft: #32302f;
  --color-bg1: #3c3836;
  --color-bg2: #504945;
  --color-bg3: #665c54;
  --color-bg4: #7c6f64;

  /* Foregrounds */
  --color-fg: #ebdbb2;
  --color-fg2: #d5c4a1;
  --color-fg3: #bdae93;
  --color-fg4: #a89984;

  /* Accents */
  --color-red: #cc241d;
  --color-red-light: #fb4934;
  --color-green: #98971a;
  --color-green-light: #b8bb26;
  --color-yellow: #d79921;
  --color-yellow-light: #fabd2f;
  --color-blue: #458588;
  --color-blue-light: #83a598;
  --color-purple: #b16286;
  --color-purple-light: #d3869b;
  --color-aqua: #689d6a;
  --color-aqua-light: #8ec07c;
  --color-orange: #d65d0e;
  --color-orange-light: #fe8019;
  --color-gray: #928374;
}

html {
  background-color: var(--color-bg-hard);
  color: var(--color-fg);
}

body {
  min-height: 100dvh;
}
